body {

    margin: auto;
    background: url("desktop-1920x1080.jpg") black no-repeat center top;

}

header {

    width: 100%;
    margin-bottom: 0;

}


header nav {

    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: black;
    align-items: center;
    height: 66px;

}

header nav img {

    height: 42px;
    padding-left: 2rem;
    flex-grow: 0;

}

header nav ul {

    flex-grow: 1;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;

}

a {

    text-decoration: none;
    color: white;

}

header nav ul li a {

    font-size: 35px;

}

main {

    background-color: #262626;
    margin-left: 12%;
    margin-right: 12%;
    width: 76%;
    margin-top: 0;
    position: absolute;
    bottom: 40px;
    top: 66px;
    color: white;
    padding: 1.5rem;

}

#game_list {

    margin-top: 3rem;
    display: flex;
    justify-content: space-evenly;

}

#mod_list {

    margin-top: 3rem;
    display: flex;
    justify-content: space-evenly;

}

.game {

    max-width: 16rem;
    text-align: center;
    height: 380px;
    text-decoration: none;
    color: white;

}

.mod {

    max-width: 16rem;
    text-align: center;
    height: 380px;
    text-decoration: none;
    color: white;

}

.game img {

    width: 100%;

}

.mod img {

    width: 100%;

}

#top1 {

    display: flex;
    justify-content: space-between;
        align-items: center;
    margin-right: none;

}

#top1 h2 {

    font-size: 1.4rem;

}

#top2 {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;

}

#track {

    width: 19rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#top2 h1 {

    font-size: 2.3rem;

}

#track h3 {

    font-size: 1.3rem;


}

#track button {

    width: 5.5rem;
    height:3rem;
    background-color: #80aaff;
    color: white;

}

#images {

    margin-top: 2rem;
    background-color: #333333;
    overflow: auto;
    white-space: nowrap;

}

#images::-webkit-scrollbar {
      width: 10px;
   }

#images::-webkit-scrollbar-track {
    background-color: #333333;
  }

#images::-webkit-scrollbar-thumb {
    background: #4e4e4e;
    border-radius: 20px;
  }

#images img {

    max-width: 16%;
    padding: 1rem;

}

#nav2 {

    margin-top: 1.5rem;
    display: flex;
    height: 2rem;
    margin-bottom: 1rem;

}

#nav2 button {

    width: 12%;
    text-align: center;
    background-color: #80aaff;
    color: white;
    height: auto;

}

.souboros {

    display: flex;
    justify-content: space-between;
    width: 39rem;
    height: 3rem;
    align-items: center;
    margin-bottom: 1rem;

}

.souboros  * {

    min-width: 5rem;

}

.souboros button {

    background-color: #80aaff;
    color: white;
    width: 6rem;
    height: 2rem;

}

.login-container {

  display: flex;

}

.login-section {

  flex: 1;
  margin-right: 2rem;
  margin-top: 2rem;
  margin-left: 2rem;

}

input {

    margin-bottom: 1rem;
    font-size: 1.2rem;

}

label {

    font-size: 1.2rem;

}

#submit {

    margin-top: 1rem;
    width: 20rem;
    height: 2.5rem;
    background-color: #80aaff;
    color: white;

}

.image-section {

  flex: 1;

}

.novinka {

    margin-bottom: 1.5rem;
    border-bottom: solid white 2px;
    padding-bottom: 0.7rem;
    list-style-type: square;

}

.novinka a {

    color: #80aaff;

}

#user_images button {

    height: 2.1rem;
    text-align: center;
    background-color: #80aaff;
    color: white;
    float: right;

}

#list_of_images {

    display: flex;
    flex-wrap: wrap;

}

#list_of_images img {

    min-width: 16rem;
    max-width: 22%;
    padding: 1rem;

}

#select {

    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

#select button {

    width: 7.5rem;
    height: 2rem;
    background-color: #80aaff;
    color: white;

}

footer {

    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    height: 40px;

}