 body {

    margin: auto;
    background: url("desktop-1920x1080.jpg") black no-repeat center top;

}

header {

    width: 100%;
    margin-bottom: 0;

}


header nav {

    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: black;
    align-items: center;
    height: 66px;

}

header nav img {

    height: 42px;
    padding-left: 2rem;
    flex-grow: 0;

}

header nav ul {

    flex-grow: 1;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;

}

a {

    text-decoration: none;
    color: white;

}

header nav ul li a {

    font-size: 35px;

}

main {

    background-color: #262626;
    margin-left: 12%;
    margin-right: 12%;
    width: 76%;
    margin-top: 0;
    position: absolute;
    bottom: 40px;
    top: 66px;
    color: white;
    padding: 1.5rem;
    height: 100%;

}

#game_list {

    margin-top: 3rem;
    display: flex;
    justify-content: space-evenly;

}

#mod_list {

    margin-left: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}

#mod_list li {



}

.game {

    max-width: 16rem;
    text-align: center;
    height: 380px;
    text-decoration: none;
    color: white;
    background: #4e4e4e;
    position: relative;

}

.game h2 {

   position: absolute;
   bottom: 0.4rem;

}


.game img {

    width: 100%;

}

.mod {

    max-width: 16rem;
    text-align: center;
    height: 21rem;
    text-decoration: none;
    color: white;
    background: #4e4e4e;
    position: relative;

}

.mod img {

    width: 100%;

}

.mod h2{

display:inline-block;
    vertical-align:middle;

}

.mod p {

       position: absolute;
       bottom: 0rem;
       padding: 0.4rem;

}

#top1 {

    display: flex;
    justify-content: space-between;
        align-items: center;
    margin-right: none;

}

#top1 h2 {

    font-size: 1.4rem;

}

#top2 {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;

}

#track {

    width: 19rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#top2 h1 {

    font-size: 2.3rem;

}

#track h3 {

    font-size: 1.3rem;


}

#track button {

    width: 5.5rem;
    height:3rem;
    background-color: #80aaff;
    color: white;

}

#images {

    margin-top: 2rem;
    background-color: #333333;
    overflow: auto;
    white-space: nowrap;

}

#images::-webkit-scrollbar {
      width: 10px;
   }

#images::-webkit-scrollbar-track {
    background-color: #333333;
  }

#images::-webkit-scrollbar-thumb {
    background: #4e4e4e;
    border-radius: 20px;
  }

#images img {

    max-width: 16%;
    padding: 1rem;

}

#nav2 {

    margin-top: 1.5rem;
    display: flex;
    height: 2rem;
    margin-bottom: 1rem;

}

#nav2 button {

    width: 12%;
    text-align: center;
    background-color: #80aaff;
    color: white;
    height: auto;

}

#files_list {


}

.souboros {

    display: flex;
    justify-content: space-between;
    width: 39rem;
    height: 3rem;
    align-items: center;
    margin-bottom: 1rem;

}

.souboros  * {

    min-width: 5rem;

}

.souboros button {

    background-color: #80aaff;
    color: white;
    width: 6rem;
    height: 2rem;

}

.login-container {

  display: flex;

}

.login-section {

  flex: 1;
  margin-right: 2rem;
  margin-top: 2rem;
  margin-left: 2rem;

}

input {

    margin-bottom: 1rem;
    font-size: 1.2rem;

}

label {

    font-size: 1.2rem;

}

#submit {

    margin-top: 1rem;
    width: 20rem;
    height: 2.5rem;
    background-color: #80aaff;
    color: white;

}

.image-section {

  flex: 1;

}

#changes_list {

    margin-top: 0;

}

.changelog {

    display: flex;
    align-items: center;
    background: #4e4e4e;
    margin-bottom: 1.5rem;
    padding: 0.8rem;
    list-style-type: square;

}

.changelog li {

    margin-left: 1.5rem;
}

#mod_list {

    margin-top: 0;

}

#list_of_news {

    margin-top: 0;

}

.novinka {

    background: #4e4e4e;
    margin-bottom: 1.5rem;
    padding: 0.8rem;
    list-style-type: square;

}

.headline_comment {

    display: flex;
    align-items: center;

}

.headline_comment h3 {

    margin-left: 1rem;
    font-size: 1.1rem;

}

.headline_comment p {

    margin-left: 2.5rem;
    border-left: 1px solid;
    padding-left: 1rem;

}

.novinka li {

    margin-left: 1.5rem;
    padding-bottom: 0.8rem;
}

.novinka a {

    color: #80aaff;

}

.upload_user {

    height: 2.1rem;
    text-align: center;
    background-color: #80aaff;
    color: white;
    float: left;
    margin-left: 2rem;
    margin-bottom: 0;

}

#list_of_images {

    display: flex;
    flex-wrap: wrap;

}

#list_of_images img {

    min-width: 16rem;
    max-width: 22%;
    padding: 1rem;

}

#select {

    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

#select button {

    width: 7.5rem;
    height: 2rem;
    background-color: #80aaff;
    color: white;

}

.comment {

    display: flex;
    align-items: center;
    background: #4e4e4e;
    margin-bottom: 1.5rem;
    padding: 0.8rem;

}

.content {

    margin-left: 2rem;

}

.upload_author_only {

    background: #A52A2A;
    height: 2.1rem;
    text-align: center;
    color: white;
    float: left;
    margin-left: 1.7rem;


}

#videos_list {

    display: flex;
    flex: wrap;

}

iframe {

    float: left;
    height: 15rem;
    width: auto;
    margin-left: 2.5rem;

}

.list {

    float: left;
    width: 100%;
    margin-top: 1rem;

}

.popup {

			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 400px;
			height: auto;
			background-color: #666666;
			padding: 20px;
			border-radius: 5px;
			box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);

}

.popup textarea {

			width: 97%;
			height: 50%;
			padding: 5px;
			border-radius: 5px;
			border: 1px solid #ccc;
			resize: none;
			font-size: 16px;

}

.popup label {

			display: block;
			margin-bottom: 10px;
			font-size: 16px;
			font-weight: bold;

}

.popup button {

    margin-top: 1rem;
    float: right;

}

.close {
        color: #80aaff;
        float: right;
        font-size: 1.9rem;;
        font-weight: bold;
        margin-bottom: 0.4rem;
}

      .close:hover,
      .close:focus {
        color: #A52A2A;
        text-decoration: none;
        cursor: pointer;
}

#comment_popup {

    height: 13rem;

}

#changelog_popup {

    height: 20rem;

}

#news_popup {

    height: 20rem;

}

.remove_img {

    position: relative;
    margin-left: 0;
    font-size: 1.75rem;
    margin-right: 0.2rem;
    color: #A52A2A;

}

#edit_headline {

    margin-top: 2rem;
    width: 100%;

}

#edit_description {

    margin-top: 2rem;
    width: 100%;
    height: 46%;

}

footer {

    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    height: 40px;

}